/*----------------------ALL-------------------------------*/

* {
  text-decoration: none;
  list-style-type: none;
}

/*----------------------HEADER-------------------------------*/

header {
  background-color: #213e4f;
  width: 100%;
  margin: 0 auto;
  height: 100px;
}

header h1 {
  font-family: 'Megrim', cursive;
  font-size: 300%;
  padding-left: 10px;
  padding-top: 5px;
}

nav li {
  padding: 5px;
}

/*----------------------BODY-------------------------------*/

body {
  background-color: #d7e0e6;
  width: 100%;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
}

/*----------------------HOME PAGE---------------------------*/

.photo {
  border-radius: 100%;
  width: 300px;
  height: auto;
}

/*--------BLOG------------*/

#blog-content {
  float: left;
  width: 75%;
}

#blog-menu {
  float: left;
  width: 25%;
}

#nav li {
  display: inline;
  list-style-type: none;
}

/*--------BLOG------------*/

#greeting {
  color: blue;
}
