/*----------------------ALL-------------------------------*/

* {
  text-decoration: none;
  list-style-type: none;
  font-family: 'Titillium Web', sans-serif;
}

/*----------------------HEADER-------------------------------*/

header {
  background-color: #213e4f;
  width: 100%;
  margin: 0 auto;
  height: 100px;
}

h1 a {
  font-family: 'Megrim', cursive;
  font-size: 150%;
  padding-left: 20px;
  padding-top: 30px;
  color: #afc2ce;
}

header h1:hover {
  text-decoration: none;
  list-style-type: none;
}

nav a:link {
  padding: 10px;
  color: #afc2ce;
  list-style-type: none;
}

nav a:hover, h1 a:hover {
  color: #f9efb9;
  text-decoration: none;
}


/*----------------------BODY-------------------------------*/

body {
  background-color: #d7e0e6;
  width: 100%;
  margin: 0 auto;
}

p {
  font-size: 115%;
}

/*----------------------HOME PAGE---------------------------*/

.photo {
  border-radius: 100%;
  width: 300px;
  height: auto;
  padding-left: 50px;
}

#home-page {
  padding: 75px 0;
}

#home-para {
  padding-right: 50px;
}
/*----------------------Media Page---------------------------*/

#greeting {
  text-align: center;
  margin: 0 auto;
  background-color: #809aae;
  width: 30%;
  color: #ffe162;
}

#media-content {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

#vids {
  margin: 0 auto;
  text-align: center;
}

iframe {
  padding: 10px;
}

/*----------------------Contact page---------------------------*/

#form {
  margin: 0 auto;
  padding-left: 40px;
}
/*----------------------Footer---------------------------*/

footer {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #809aae;
}

footer li a {
  font-size: 130%;
  color: #afc2ce;
}

footer p {
  font-size: 140%;
  color: #000000;
}
/*--------BLOG------------*/

#blog-content {
  float: left;
  width: 75%;
}

#blog-menu {
  float: left;
  width: 25%;
}

#nav li {
  display: inline;
  list-style-type: none;
}

/*--------CYOA-------fix this later center, etc.-----*/

#adventure {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

#adv-title {
  margin: 0 auto;
  text-align: center;
}

/*--------------for javascript-removet this it looks bad------------*/

.highlighted {
  color: orange;
  font-weight:bold;
}

#hidden-blurb {
  display:none;
}
